[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
integreat-cms = {editable = true, extras = ["debug", "deploy", "doc", "linting", "test", "tools"], path = "."}

[requires]
python_version = "3.7"
